---
layout: default
title: {{ page.title }}
---
<nav class="control">
  <a href="{{ site.baseurl }}/">
    <button type="button">&larr; Back</button>
  </a>
  <a id="test-btn" href="{{ site.baseurl }}/simple-test.html">
    <button type="button">Simple Test &rarr;</button>
  </a>
</nav>

<div class="search-bar">
  <label for="search-cards">Search cards:</label>
  <input id="search-cards" type="search">
</div>

<main class="cards-container">

  {{ content }}

</main>

<script src="{{ site.baseurl }}/scripts/deck.js"></script>