---
layout: default
---
<nav class="test-control">
  <a href="{{ site.baseurl }}/">
    <button id="home" type="button" >&#x2617; Home</button>
  </a>

  <button id="end" type="button">&#x2716; End Test <span>(Backspace)</span></button>
  <button id="answer" type="button">&#9873; Answer <span>(Space)</span></button>
  <button id="correct" type="button">&#9745; Correct <span>(Left Arrow)</span></button>
  <button id="incorrect" type="button">&#9746; Incorrect <span>(Right Arrow)</span></button>
</nav>

{{ content }}