/*
===============
General styling
===============
*/
body {
  background: #f7fbfc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1 {
  font-size: 2em;
  text-align: center;
}
hr {
  width: 60%;
}
.hide {
  display: none !important;
}

/*
==========
Search bar
==========
*/
.search-bar {
  text-align: center;
  width: 100%;
  margin-top: 1em;
}
.search-bar label {
  font-size: 20px;
  margin-right: 1em;
}
.search-bar input[type="search"] {
  width: 30%;
  margin-bottom: 2em;
}

/*
===============
Decks container
===============
*/
.decks-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.decks-container a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-right: 1em;
}
.decks-container a:hover {
  bottom: 10px;
}
.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 250px;
  border: 1px solid black;
  padding: 1em;
  background: #d6e6f2;
}
.deck:hover {
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
}

/*
===========
Nav control
===========
*/
.control {
  display: flex;
  margin: 0 auto;
  padding-top: 0.5em;
}
.control button {
  color: white;
  width: 175px;
  height: 40px;
  font-size: 22px;
  font-weight: 500;
  background: #769fcd;
  margin: 0 10px;
}
.control button:hover {
  transform: scale(1.05);
}

/*
===============
Cards container
===============
*/
.cards-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 1em;
}
.card-box {
  width: 350px;
  height: 275px;
  perspective: 500px;
  padding: 10px;
  margin: 5px;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:hover {
  bottom: 10px;
}
.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d93ab;
  background: #d6e6f2;
  text-align: center;
  padding: 5px;
}
.code-front {
  background: #d6e6f2;
  border: 2px solid #8d93ab;
  padding: 5px;
}
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d93ab;
  transform: rotateY(180deg);
  background: #b9d7ea;
  text-align: center;
  padding: 5px;
}
.code-back {
  background: #b9d7ea;
  border: 2px solid #8d93ab;
  transform: rotateY(180deg);
  padding: 5px;
}
.flipped {
  transform: rotateY(180deg);
}
.highlight {
  font-size: 13px;
  overflow: auto;
}
