/*
===============
General styling
===============
*/
body {
  background: #ecf4f3;
  font-family: Verdana, sans-serif;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.7em;
}
button {
  border-radius: 5px;
}
hr {
  width: 60%;
}
.hide {
  display: none !important;
}

/*
==========
Search bar
==========
*/
.search-bar {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.search-bar label {
  font-size: 20px;
  margin-right: 1em;
  font-weight: 400;
}
.search-bar input {
  font-size: 18px;
  width: 40%;
  height: 1.7em;
}
.search-bar input:focus {
  outline: 1px solid #8d93ab;
  padding-left: 5px;
}

/*
===========
Nav control
===========
*/
.control {
  display: flex;
  margin: 1em auto;
  justify-content: center;
}
.control button {
  min-width: 100px;
  min-height: 35px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  background: #769fcd;
  border: 1px solid #8d93ab;
  margin: 0 10px;
  padding: 7px;
}
.control button:hover {
  transform: scale(1.05);
  border: 1px solid black;
  background: #07689f;
}
#test-simple {
  margin-left: 4em;
  background: #68b0ab;
}
#test-simple:hover {
  background: #006a71;
}

/*
===============
Decks container
===============
*/
.decks-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.decks-container a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 1em;
}
.decks-container a:hover {
  bottom: 10px;
}
.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 250px;
  padding: 0.5em;
  border: 1px solid black;
  background: #d9ecf2;
}
.deck:hover {
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
}

/*
===============
Cards container
===============
*/
.cards-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 1em;
}
.card-box {
  width: 350px;
  height: 275px;
  perspective: 500px;
  padding: 10px;
  margin: 5px;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.card:hover {
  bottom: 10px;
}
.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d93ab;
  background: #d6e6f2;
  text-align: center;
}
.code-front {
  background: #d6e6f2;
  border: 2px solid #8d93ab;
}
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d93ab;
  transform: rotateY(180deg);
  background: #b9d7ea;
  text-align: center;
}
.code-back {
  background: #b9d7ea;
  border: 2px solid #8d93ab;
  transform: rotateY(180deg);
}
.flipped {
  transform: rotateY(180deg);
}
.highlight {
  font-family: 'Fira Code', monospace;
  overflow: auto;
  font-size: 14px;
}
.highlight pre {
  white-space: pre-wrap;
}

/*
============
Test Control
============
*/
.test-control {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1em auto;
}
.test-control button {
  min-width: 100px;
  min-height: 40px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #8d93ab;
  margin: 0 5px;
  background: #769fcd
}
.test-control button:hover {
  transform: scale(1.05);
  border: 1px solid black;
  background: #07689f;
}
#home {
  grid-column: 1;
}
#end {
  grid-column: 2;
  background: #8d93ab;
}
#new {
  grid-column:3;
  background: #68b0ab;
}
#new:hover {
  background: #006a71;
}
#end:hover {
  background: #393b44;
}
#answer {
  grid-column: 5;
  background: #c3aed6;
}
#answer:hover {
  background: #9d65c9;
}
#correct {
  grid-column: 6;
  background: #68b0ab;
}
#correct:hover {
  background: #00CD00	;
}
#incorrect {
  grid-column: 7;
  background: #ff414d;
}
#incorrect:hover {
  background: #FC1501;
}

/*
==============
Test Container
==============
*/
.test-container {
  width: 80%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-content: center;
  margin: 0 auto;
}
.test-container div {
  overflow: auto;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.test-container div .highlight {
  text-align: left;
  padding-left: 0.5em;
  margin-top: -2em;
}
.test-question {
  padding-top: 2em;
  background: #d6e6f2;
}
.test-answer {
  padding-top: 2em;
  background: #b9d7ea;
}

/*
=================
Colorful Pygments
=================
*/
.highlight .hll { background-color: #f4f4f4; }
.highlight  { background: #f4f4f4; }
.highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #0000aa } /* Keyword */
.highlight .ch { color: #aaaaaa; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #4c8317 } /* Comment.Preproc */
.highlight .cpf { color: #aaaaaa; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #0000aa } /* Keyword.Constant */
.highlight .kd { color: #0000aa } /* Keyword.Declaration */
.highlight .kn { color: #0000aa } /* Keyword.Namespace */
.highlight .kp { color: #0000aa } /* Keyword.Pseudo */
.highlight .kr { color: #0000aa } /* Keyword.Reserved */
.highlight .kt { color: #00aaaa } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #aa5500 } /* Literal.String */
.highlight .na { color: #1e90ff } /* Name.Attribute */
.highlight .nb { color: #00aaaa } /* Name.Builtin */
.highlight .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.highlight .no { color: #aa0000 } /* Name.Constant */
.highlight .nd { color: #888888 } /* Name.Decorator */
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight .nf { color: #00aa00 } /* Name.Function */
.highlight .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #aa0000 } /* Name.Variable */
.highlight .ow { color: #0000aa } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sa { color: #aa5500 } /* Literal.String.Affix */
.highlight .sb { color: #aa5500 } /* Literal.String.Backtick */
.highlight .sc { color: #aa5500 } /* Literal.String.Char */
.highlight .dl { color: #aa5500 } /* Literal.String.Delimiter */
.highlight .sd { color: #aa5500 } /* Literal.String.Doc */
.highlight .s2 { color: #aa5500 } /* Literal.String.Double */
.highlight .se { color: #aa5500 } /* Literal.String.Escape */
.highlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
.highlight .si { color: #aa5500 } /* Literal.String.Interpol */
.highlight .sx { color: #aa5500 } /* Literal.String.Other */
.highlight .sr { color: #009999 } /* Literal.String.Regex */
.highlight .s1 { color: #aa5500 } /* Literal.String.Single */
.highlight .ss { color: #0000aa } /* Literal.String.Symbol */
.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00aa00 } /* Name.Function.Magic */
.highlight .vc { color: #aa0000 } /* Name.Variable.Class */
.highlight .vg { color: #aa0000 } /* Name.Variable.Global */
.highlight .vi { color: #aa0000 } /* Name.Variable.Instance */
.highlight .vm { color: #aa0000 } /* Name.Variable.Magic */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */